.wel{
    background: #FFEAD0;
    /* width: 548px; */
/* height: 219px; */
top: 210px;
border-radius: 5px;

}
.amo{
font-family: Inter;
font-size: 48px;
font-weight: 800;
line-height: 38px;
letter-spacing: 0em;
text-align: left;


width: 495px;
height: 38px;
top: 354px;
left: 27px;
}

.wel2{
height: 113px;
padding-top: 50px;
/* top: 429px; */
border-radius: 5px;
background: #FFDDB2;

}
.list{
    width: 494px;
    height: 80px;
    display: flex;
    font-family: Inter;
    letter-spacing: 0em
}
.ph{
    margin-left: 700px;
}
.deta{
    margin-left: 900px;
}
.imgdash{
    display: flex;
    padding-bottom: 50px;
    margin-left: 80px;
}
.imgdash img{
    height: 500px;
    border-radius: 10px;
    
}
.line{
    line-height: 0px;
}
.prices{
    margin-left: 40px;
    padding: 90px;
}