.card-body{
    width: 920px;
    height: 60px;
    top: 742px;
    left: 64.02px;
    background: #FFCC8D;
    width: 494px;
    height: 198px;
    top: 710px;
    left: 27.02px;
    border-radius: 10px;
}
.card-text{
    color: black;
    padding: 12px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 420px;
    height: 60px;
    top: 742px;
    left: 64.02px;
}
.btn{
    height: 49px;
    top: 827px;
    left: 65.02px;
    padding: 12px;
    border-radius: 10px;
    margin-top: 50px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}
.text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.text1{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}
.all{
    padding-bottom: 50px;
    width: 548.15px;
    height: 1035.51px;
    top: 480.14px;
    left: 926.19px;
}
.allto{
    margin-bottom: 50px;
}