.sorry{
width: 494.33px;
height: 84px;
top: 215px;
left: 26px;

/* font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 42px; */
/* letter-spacing: 0em; */

}
.return{
width: 494.33px;
height: 55px;
top: 328.59px;
left: 26px;
border-radius: 4.98px;
background: #161616;
color: white;
margin-top: 60px;
margin-left: 390px;


}