.btnn{
    background: #fd6e08;
    width: 494.33px;
    height: 49.83px;
    top: 383.7px;
    left: 26.91px;
    border-radius: 5px;
}
.h1{
    font-size: 500px;
    width: 994.33px;
    top: 177.4px;
    left: 26.91px;
    font-weight: 900px;
    line-height: 60px;
    margin-left: 100px;
}
.hh{
    width: 994.33px;
    height: 48px;
    top: 284.04px;
    left: 26.91px;
}
.bt{
    width: 994.33px;
    height: 59.83px;
    top: 383.7px;
    left: 26.91px;
    border-radius: 5px;
    background: #FF8C38;
    margin-top: 80px;
}
.content{
    width: 494.33px;
    top: 199.4px;
    left: 26.91px;
    border-radius: 5px;
    font-family: Inter;

   font-weight: 900px;
   line-height: 60px;
   margin-left: 100px;

}


