.content{
    color: #FFF7ED;
    width: 994.33px;
    height: 256.13px;
    top: 177.4px;
   left: 90.91px;
   border-radius: 5px;
   position: fixed;
   position: absolute;
} 

    /* font-weight: bolder;
   
   
    top: 200px;
    margin-left: 5%; */
    /* width: 100%; */


/* .content button{
    background-color: orange;
    padding: 1%;
    width: 100%;
    margin-top: 20px;
} */